html {
    height: 100%;
    font-family: 'Varela Round', sans-serif;
}

.core {
    padding-left: 4vw;
    width: 40%;
}

.explanation {
  text-align:justify;
  padding-right: 2vw;
  margin-left: 45%;
  float: right;
  font-size: xx-large;
}

.calculator {
    width: 30vw;
    height: 41vw;
    gap: 0.75vw 0.75vw;
    background-color: #003f6b;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    padding: 0.8vw 0.8vw 0.8vw 0.8vw;
    grid-template-rows: 12vw 6.5vw 6.5vw 6.5vw 6.5vw;
    grid-template-columns: 5.4vw 5.4vw 5.4vw 5.4vw 5.4vw;
    border-radius: 1vw;
    position: fixed;
    ;
}

.calculator > div {
    font-size: 2.5vw;
  }

  .operator{
      background-color: #DE5BA7;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: 0.2s;
      user-select: none;
      border-radius: 0.25vw;
      color: white;
  }

  .operator:hover {
      background-color: #fb8fce;
      color: black;
      transition: 0.2s;
      font-size: 3vw;
  }

  .operator:active {
    border-radius: 0.2vw;
    border-color: rgb(87, 86, 86);
    border-style: solid;
    font-size: 2vw;
}

  .integer {
      background-color: #2296fc;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: 0.2s;
      user-select: none;
      border-radius: 0.25vw;
      color: white;

  }

  .integer:hover {
      background-color: rgb(106, 183, 250);
      color: black;
      transition: 0.2s;
      font-size: 3vw;
  }
  .integer:active {
    border-radius: 0.2vw;
    border-color: rgb(68, 0, 255);
    border-style: solid;
    font-size: 2vw;
}

  .screen {
      grid-column-start: 1;
      grid-column-end: 6;
      background-color: aliceblue;
  }
  .screen > .answer {
    display: flex;
    align-items:baseline;
    justify-content:right;
    padding-right: 1vw;
  }

  .screen > .array {
    display: flex;
    align-items:initial;
    justify-content: left;
    padding-left: 1vw;
  }

  .equals {
      grid-column-start: 4;
      grid-column-end: 6;
      background-color: #DE5BA7;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: 0.2s;
      user-select: none;
      border-radius: 0.25vw;
      color: white;
  }

  .equals:hover {
    transition: 0.2s;
    background-color: #fb8fce;
    color: black;
    font-size: 3vw;
  }
  .equals:active {
    border-radius: 0.2vw;
    border-color: rgb(87, 86, 86);
    border-style: solid;
    font-size: 2vw;
  }

  body {
      padding-top: 8vh;
  }

  footer {
    height: 20px;
    background-color: #2296fc;
    color: white;
    left: 0;
    bottom: 0;
    position: fixed;
    width: 100%;
    padding: 5px;
  }

  .footer-text {
      text-align: top;
      display: flex;
      padding-bottom: 1vw;
      align-items:center;
      justify-content: center;
  }
